
<div id="index-background" class="container" data-controller="autocomplete-search">
  <div class="row justify-content-center">
      <div  class="col-sm-8 my-3">
        <%= form_with url: travels_path, method: :get, class: "d-flex", html: { data: {autocomplete_search_target: 'form'}} do%>
          <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Search for the prefect travel",
            data: { autocomplete_search_target: 'input', action: "keyup->autocomplete-search#autocomplete" }
          %>
        <%= submit_tag "Search", name: "", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
      <% if @travels.any? %>
      <%= render "travels/list" %>
    <% else %>
      <em>Sorry, no travels found.</em>
    <% end %>
  </div>
</div>
