
<div id="index-background" class="container" data-controller="autocomplete-search">
  <div class="row">
    <div  class="d-flex justify-content-center mb-4">
      <div class="search-form">
        <%= form_with url: travels_path, method: :get, html: { data: {autocomplete_search_target: 'form'}} do%>
        <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Search for the prefect travel",
        data: { autocomplete_search_target: 'input', action: "keyup->autocomplete-search#autocomplete" }%>
      </div>
      <div id="magnifying-glass" class="d-flex align-items-center">
        <%= button_tag(type: "submit", class: "btn-flat-search") do %>
          <i class="fa-solid fa-magnifying-glass fa-2xl" style="color: #25dfe9;"></i>
        <% end %>
      </div>
  <% end %>
    </div>
  </div>
      <% if @travels.any? %>
      <%= render "travels/list" %>
    <% else %>
      <em>Sorry, no travels found.</em>
    <% end %>
  </div>
</div>
