
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.black_fond{
    background-color: #101846;;
}
.background_log{
    width: 430px;
    height: 520px;
    transform: translate(-50%,-50%);
    position: absolute;
    left: 50%;
    top: 50%;
}
.background_log .shape{
    height: 200px;
    width: 200px;
    position: absolute;
    border-radius: 50%;
}

.background_log .shape_2{
  height: 200px;
  width: 200px;
  position: absolute;
  border-radius: 50%;
}
.shape:first-child{
    background: linear-gradient(
        #25dfe9,
        #85d3d7,
    );
    left: -80px;
    top: -80px;
}
.shape:last-child{
    background: linear-gradient(
        to right,
        #ff512f,
        #f09819
    );
    right: -0px;
    bottom: -80px;
}

.shape_2:first-child{
  background: linear-gradient(
      #25dfe9,
      #85d3d7,
  );
  left: -200px;
  top: -80px;
}
.shape_2:last-child{
  background: linear-gradient(
      to right,
      #ff512f,
      #f09819
  );
  right: -170px;
  bottom: -80px;
}

.formulaire{
    height: 570px;
    width: 400px;
    background-color: rgba(255,255,255,0.13);
    transform: translate(-50%,-50%);
    position: absolute;
    top: 55%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
}
.formulaire *{
    font-family: 'Roboto';
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}
.formulaire h3{
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
    color:white;
}

#label_login{
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
    color:white !important;
}
input{
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255,255,255,0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
    color:black;
}
::placeholder{
    color: black;
}
button{
    margin-top: 50px;
    width: 100%;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}


.formulaire_2{
  height: 930px;
  width: 400px;
  background-color: rgba(255,255,255,0.13);
  position: absolute;
  transform: translate(-50%,-50%);
  top: 80%;
  left: 50%;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255,255,255,0.1);
  box-shadow: 0 0 40px rgba(8,7,16,0.6);
  padding: 50px 35px;
}

.formulaire_2 *{
  font-family: nunito;
  letter-spacing: 0.5px;
  outline: none;
  border: none;
}
.formulaire_2 h3{
  font-size: 32px;
  font-weight: 500;
  line-height: 42px;
  text-align: center;
  color:white;
}

.formulaire_2 a{
  color:white;
  font-size: 16px;

}

.formulaire a{
  color:white;
  font-size: 16px;

}


.formulaire_3{
  height: 1300px;
  width: 600px;
  background-color: rgba(255,255,255,0.13);
  position: absolute;
  transform: translate(-50%,-50%);
  top: 115%;
  left: 50%;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255,255,255,0.1);
  box-shadow: 0 0 40px rgba(8,7,16,0.6);
  padding: 50px 35px;
}

.formulaire_3 *{
  font-family: nunito;
  letter-spacing: 0.5px;
  outline: none;
  border: none;
}
.formulaire_3 h3{
  font-size: 32px;
  font-weight: 500;
  line-height: 42px;
  text-align: center;
  color:white;
}

.formulaire_3 a{
  color:white;
  font-size: 16px;

}

.formulaire a{
  color:white;
  font-size: 16px;

}

.forms{
  min-height: 200vh;
}
