
.main-container{
  color: white;
  font-family: nunito;
  margin-right: auto;
  margin-left: auto
}

.container3 p, h5{
  color: white;
}
.banner-image {
  width: 600px;
  height: 600px;
  border-radius: 8px;
  // box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.title-description{
  margin: 25px;
}

.banner{
  width: 100%;
}

.banner h1 {
  margin: 0;
  color: white;
  font-size: 80px;
  line-height: 2em;
  letter-spacing: 0.1em;
}

.banner h2 {
  font-size: 35px;
  color: white;
  line-height: 2em;
}
p {
  font-size: 20px;
  font-family: nunito;
  color: white;
  line-height: 1.5em;
}

.ml7 {
  position: relative;
  font-weight: 900;
  font-size: 3.7em;
}
.ml7 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: hidden;
}
.ml7 .letter {
  transform-origin: 0 100%;
  display: inline-block;
  line-height: 1em;
}
