.card-body{
  font-family: 'Montserrat', sans-serif;
}

#container-travels-index img{
  width: 100%;
}

#container-travels-index{
  background-color: white;
  border: #00334E;
}
.card {
  margin: 10px;
  border-radius: 5px;
  background-color: #ffffff;
  color:#00334E;
}

#index-background {
  background-color: #ffffff;
}

.card li{
  list-style-type: none;
  text-align: left;
}

.card-body {
  text-align: left;
}
