.card-body{
  font-family: 'Montserrat', sans-serif;
}

#container-travels-index img{
  width: 100%;
}
#container-travels-index{
  background-color: white;
}
.card {
  margin: 10px;
  padding: 5px;
  border-radius: 5px;
}
