
.container-show-description {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
  font-family: nunito, sans-serif;
  max-width: 100%;
  background-color: #101846;
  padding-top: 50px;
  padding-bottom: 50px;

}


.container-show-description img {
  object-fit: cover;
  width: 700px;
  height: 400px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  margin: 15px;
  justify-content: center;
}

.img-card{
  display: flex;
  justify-content: center;
}
.card-travel{
  width: 700px;
  border-radius: 5px;
  color: white;

  // box-shadow: 0 10px 30px rgba(0, 0, 0, 0.17);
}
.card-travel h1{
  margin: 10px;
  font-size: 60px;
  line-height: 1em;
  letter-spacing: 0.1em;
}

.card-travel h4{
  margin: 10px;
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 20px;
  letter-spacing: 0.5px;
}

.card-travel li{
  list-style-type: none;
  font-size: 18px;
}

.level_3{
  padding-right: 2Opx;
}

// .card-travel-formulaire{
//   width: 600px;
//   height: 400px;
//   position: sticky;
//   top: 100px;
//   background-color: white;
//   color: #101846;
//   padding: 15px;
//   border-radius: 5px;
//   box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
// }

.card-travel-formulaire{
  // height: 50%;
  width: 400px;
  background-color: rgba(255,255,255,0.13);
  // transform: translate(-50%,-50%);
  top: 55%;
  left: 50%;
  // position: sticky;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255,255,255,0.1);
  box-shadow: 0 0 40px rgba(8,7,16,0.6);
  padding: 50px 35px;
}
.card-travel-formulaire *{
  font-family: nunito;
  letter-spacing: 0.5px;
  outline: none;
  border: none;
}
.card-travel-formulaire h3{
  font-size: 40px;
  font-family: impact;
  font-weight: 500;
  line-height: 42px;
  text-align: center;
  color:white;
  letter-spacing: 0.1em;
}

.card-travel-formulaire p{
  font-size: 18px;
  margin-top: 16px;
  font-weight: 500;
  line-height: 42px;
  text-align: center;
  color:white;
}
// .card-travel-formulaire input[type=submit]{
//   background: #101846;
//   color: white;
//   padding: 8px 24px;
//   border-radius: 4px;
//   opacity: 1;
//   transition: background 0.2s ease;
// }

// .card-travel-formulaire a {
//   color: white;
//   padding: 8px 24px;
//   border-radius: 4px;
//   background: #101846;
//   margin: 10px;
// }

.link-formulaire {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 69px
}
