  <div class="footer">
  <p class= "m-2"> Follow us !</p>
    <div class="icons m-2">
      <a href="#"><i class="fab fa-fw fa-facebook-f fa-2xl"></i></a>
      <a href="#"><i class="fab fa-fw fa-twitter fa-2xl"></i></a>
      <a href="#"><i class="fab fa-fw fa-instagram fa-2xl"></i></a>
    </div>
    <p class= "m-2"> © 2023 DREAM SELLERS,Inc 🚀 All right reserved</p>
  </div>
