<div  class="main-container m-5 about">
  <h1 style="font-family: impact;"> What is power-pushing you into time travel?<h1>
	<div class="wrap animate pop">
		<div class="overlay">
			<div class="overlay-content animate slide-left delay-2">
				<h1 class="animate slide-left pop delay-4">Quantum energy and pizza</h1>
				<p class="animate slide-left pop delay-5" style="color: white; margin-bottom: 2.5rem;">Star: <em>Alpha.32</em></p>
			</div>
			<div class="image-content animate slide delay-5"></div>
					<div class="dots animate">
						<div class="dot animate slide-up delay-6"></div>
						<div class="dot animate slide-up delay-7"></div>
						<div class="dot animate slide-up delay-8"></div>
					</div>
		</div>
			<div class="text">
				<p><img class="inset" src="https://assets.codepen.io/4787486/oak_1.jpg" alt="" /></p>
				<p>Step into the extraordinary world of pizza-powered time travel! Thanks to cutting-edge Pizza Time Machine technology, each bite transports you through history. </p>
        <p>A pepperoni slice might land you in ancient Rome, while a dragon-roasted veggie slice takes you to a medieval banquet. With every savory journey, the past, present, and future become a delicious adventure. Enjoy the marvels of time travel, one slice at a time! 🍕⏰ #PizzaTimeTravel</p>

			</div>
	</div>
</div>
