
<div class="banner" style="background-image: url(https://res.cloudinary.com/dpsozxpdq/image/upload/v1700487622/christine-roy-ir5MHI6rPg0-unsplash_iszycn.jpg);">
  <div class="container">
    <h1> Welcome to Jump'History</h1>
    <p>Change your holiday</p>
    <%= link_to "Book now", "#", class: "btn btn-flat" %>
  </div>
</div>

<br>


<div class="cards">
  <div class="row">

    <div class="col-6">
    </div>

    <div class="col-6">
    </div>

  </div>
</div>
