.btn-flat-navbar {
  color: #00334E;
  padding: 8px 24px;
  border-radius: 4px;
  background: #25dfe9;
  transition: background 0.1s ease;
}

.btn-flat-navbar:hover {
  background: #90f9ff;
  color: #00334E;
  transition-delay: 250ms;
  transform: scale(1.025);
}

.hide-btn {
  display: none;
}
