.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #101846;
  transition: background 0.2s ease;
}

.btn-flat:hover {
  background: #25dfe9;
  color: #101846;
  transform: scale(1.025);
}

// button index travels
.btn-card {
  background: #101846;
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  transition: background 0.3s ease;
}
