.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #00334E;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #74F2DA;
  color: white;
  transition-delay: 250ms;
}

// button index travels
.btn-card {
  background: #00334E;
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  transition: background 0.3s ease;
}
