
.card-text{
  height: 90px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.card-title{
  height: 60px;
  color:black
}

.card-details{
  color:black
}

a:link{
  text-decoration: none;
}
