.footer {
  justify-content: space-between;
  background-color: #00334E;
  display: flex;
  height: 130px;
  text-align: center;
  justify-content: center;
  flex-direction: column;
}
.icons i{
  color: #74F2DA;

  &:hover {
  color: white;
  }
}

.footer p{
  color: white;
  font-size: 20px ;
}
