.footer {
  justify-content: space-between;
  background-color: #101846;
  display: flex;
  height: 130px;
  text-align: center;
  justify-content: center;
  flex-direction: column;
}
.icons i{
  color: #fff4d7;

  &:hover {
  color:#2c4085;
  }
}

.footer p{
  font-family: nunito;
  color: #fff4d7;
  font-size: 20px ;
}
