.card {
  background-color: #CB997E;
  border-radius: 3px;
  color: white;
  overflow: hidden;
  font-family: Verdana, sans-serif;
}

.card img{
  width: 288px;
  height: 201px;
  object-fit: cover;
}
