.navbar-lewagon {
  justify-content: space-between;
  background: #101846;
}
.flip-box:hover {
  transition-delay: 150ms;
  transform: rotateX(180deg);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 60px;
}

.dropdown-item{
  color: #fff4d7;
  &:hover{
  color: #101846;
  background-color:#fff4d7 ;
  }
}

.dropdown-menu{
  background-color: #101846;
}

.nav-item .avatar {

  width: 60px;
  height: 60px;
  object-fit: cover;
  &:hover{
  cursor: pointer;
  opacity: 0.70;
  }
}
